body{font-family:Arial,Helvetica,sans-serif;background:#f6f7fb;margin:0;padding:0;text-align:center;}
#app{max-width:800px;margin:auto;padding:20px;}
header{display:flex;justify-content:space-between;align-items:center;}
.file-card{background:white;display:inline-block;margin:10px;padding:10px;border-radius:12px;box-shadow:0 0 5px rgba(0,0,0,0.1);width:150px;overflow:hidden;}
.file-card img{max-width:100%;border-radius:8px;}
.login-box{margin-top:100px;background:white;padding:30px;display:inline-block;border-radius:12px;box-shadow:0 0 8px rgba(0,0,0,0.1);}